.list_movies {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.list_movies_card {
  width: 250px;
  min-height: 300px;
  padding: 10px;
  background-color: #f7b2bebd;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.4s ease, transform 0.4s ease;
}
.list_movies_card:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

.list_movies_card a {
  text-decoration: none;
}

.title {
  text-align: center;
  color: black;
  font-weight: 700;
}
